.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}
.list-card {
  margin: auto;
  border: 1px solid black;
  min-height: 10vh;
  min-width: 20vw;
  background-color: white;
}
.list-wrapper {
  margin: auto;
  border: 2px solid green;
  max-width: 45vw;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightgoldenrodyellow;
}
.nav-bar {
  margin: auto;
  display: flex;
  height: 6vh;
  width: 75vw;
  background-color: #09d3ac;
  justify-content: space-around;
}
.nav-link {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
}
.signin-signup {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  justify-content: space-around;
}
.bucket-list-page {
  min-height: 85vh;
}
.list-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 15vh;
  min-width: 90vw;
  padding: 5vh 0vh 5vh 0vh;
}
